@media screen and (max-width: 128px) {

    body{
        background-color: rgb(95, 139, 95);
        background-image: url(../Imgs/green.png);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: center;
        background-attachment: fixed;
        font-size: 50px;
    }

    .letras::after{
        color: green;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        content: "GREEN";
        line-height: 3;
    }
}
    

@media screen and (min-width: 129px) and (max-width: 512px){
    body{
        background-image: url(../Imgs/red.png);
        background-color: rgb(252, 135, 135);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: center;
        background-attachment: fixed;
        font-size: 50px;
        margin-top: 70px;
    }
    
    .letras::after{
        color: red;
        content: "RED";
        line-height: 3;
    }  
}

@media screen and (min-width: 513px) and (max-width: 720px){
    body{
        background-image: url(../Imgs/violet.png);
        background-color: rgb(252, 186, 252);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: center;
        background-attachment: fixed;
        font-size: 50px;
        margin-top: 70px;
    }
    
    .letras::after{
        color: violet;
        content: "VIOLET";
        line-height: 3;
    }  
}

@media screen and (min-width: 721px){
    body{
        background-image: url(../Imgs/yellow.png);
        background-color: rgb(243, 243, 145);
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: center;
        background-attachment: fixed;
        font-size: 50px;
        margin-top: 70px;
    }
    
    .letras::after{
        color: yellow;
        content: "YELLOW";
        line-height: 3;
    }  
}
