body{
    background-image: url("../img/background.jpg");
}

.header{
    width: 100%;
    height: 200px;
    background-color: cornflowerblue;
    padding-top: 5px;
}

.header h1{
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 100px;
}

@media only screen and (max-width: 1000px){

    .header h1{
        font-size: 50px;
    }
}

.poststick{
    width: 250px;
    height: 250px;
    background-color: yellow;
    margin: 20px;
    border-bottom-left-radius: 20px;
}

.poststick p{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 30px;
    padding-left: 15px;
}

.1{
    grid-area: 1;

}

.2{
    grid-area: 2;

}

.3{
    grid-area: 3;

}

.4{
    grid-area: 4;

}

.5{
    grid-area: 5;

}

.6{
    grid-area: 6;

}

.grid-container{
    display: grid;
    grid-template-areas: 
    '1 2 3 4 5 6';
    padding: 10px;
    grid-gap: 5px;
}

@media screen and (max-width: 1600px) {

    .grid-container{
        display: grid;
        grid-template-areas: 
        '1 2 3' 
        '4 5 6';
        padding: 10px;
        grid-gap: 5px;
    }
    
}

@media screen and (max-width: 880px) {

    .grid-container{
        display: grid;
        grid-template-areas: 
        '1 2' 
        '3 4' 
        '5 6';
        padding: 10px;
        grid-gap: 5px;
    }
    
}

@media screen and (max-width: 597px) {

    .grid-container{
        display: grid;
        grid-template-areas: 
        '1' 
        '2' 
        '3' 
        '4' 
        '5' 
        '6';
        padding: 10px;
        grid-gap: 5px;
    }
    
}
